{% extends 'base.html' %}
{% block content %}

<body>
	<!-- hero -->
	<section class="hero" id="hero">
		<div class="container">
			<div class="row row--grid">
				<div class="col-12">
					<!-- hero content -->
					<div class="hero__content">
						<span class="hero__tagline">Fast swap NFT for real money</span>
						<h2 class="hero__title">We provide a new NFT marketplace</h2>
						<p class="hero__text">Over 2900+ collections for swap</p>
						<div class="hero__btns">
							<a href="/ranking" class="hero__btn"><span>Explore</span></a>
							<a href="/swap" class="hero__btn hero__btn--nephrite"><span>Swap</span></a>
						</div>

						<!-- bg animation -->
						<div id="canvas" class="hero__canvas"></div>
						<!-- end bg animation -->
					</div>
					<!-- end hero content -->
				</div>
			</div>
		</div>
	</section>
	<!-- end hero -->

	<!-- features -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="features features--first">
						<h3 class="features__title">NFT marketplace</h3>
						<p class="features__text">Connect your wallet, load your NFT collections and chose what NFT you want to SWAP.<br></br></p>
					</div>
				</div>

				<div class="col-12 col-lg-4">
					<div class="features features--yellow">
						<h3 class="features__title">Choose your currency</h3>
						<p class="features__text">We provide extensive exchange pool! You available to exchange your NFT for USDT, ETH, USDC and others cois.</p>
					</div>
				</div>

				<div class="col-12 col-lg-4">
					<div class="features features--nephrite">
						<h3 class="features__title">Partners Support</h3>
						<p class="features__text">Our partners provide valuation of your assets. The price of your NFT cannot be more than 5% below the market price.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features -->

	<!-- tokenomics -->
	<section class="section section--bt">
		<div class="container">
			<div class="row no-gutters">
				<!-- section title -->
				<div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 align-self-center">
					<div class="section__title section__title--grid-right">
						<strong>NFT & economics</strong>
						<h2>Our pool</h2>
						<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
					</div>

					<ul class="section__tokenomics section__tokenomics--right">
						<li class="clr1">Community – 51%</li>
						<li class="clr4">Core Contributios – 19%</li>
						<li class="clr2">Foundation – 16,5%</li>
						<li class="clr3">Investors – 13,5%</li>
					</ul>
				</div>
				<!-- end section title -->

				<!-- chart -->
				<div class="col-12 col-lg-6 align-self-center">
					<div class="section__chart">
						<canvas id="myChart"></canvas>
					</div>
				</div>
				<!-- end chart -->
			</div>
		</div>
	</section>
	<!-- end tokenomics -->

	<!-- roadmap -->
	<section class="section section--light">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<div class="section__title section__title--carousel">
						<h2>Roadmap</h2>
					</div>
				</div>
				<!-- end section title -->

				<!-- carousel -->
				<div class="col-12">
					<div class="section__carousel section__carousel--block splide splide--block">
						<div class="splide__arrows">
							<button class="splide__arrow splide__arrow--prev" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,11H9.41l3.3-3.29a1,1,0,1,0-1.42-1.42l-5,5a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l5,5a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.41,13H17a1,1,0,0,0,0-2Z"></path></svg></button>
							<button class="splide__arrow splide__arrow--next" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z"></path></svg></button>
						</div>

						<div class="splide__track">
							<ul class="splide__list">
								<li class="splide__slide">
									<div class="roadmap roadmap--active">
										<h3 class="roadmap__title">2022 Q4</h3>
										<ul class="roadmap__list">
											<li>Start of project development</li>
											<li>Private attraction of investors</li>
											<li>Connecting partner services</li>
											<li>Creation of a liquidity pool</li>
											<li>Private project launch</li>
										</ul>
									</div>
								</li>

								<li class="splide__slide">
									<div class="roadmap roadmap--active">
										<h3 class="roadmap__title">2023 Q1</h3>
										<ul class="roadmap__list">
											<li>Categorization of NFT projects</li>
											<li>MVP Launchpad</li>
											<li>Private round</li>
											<li>Strategic round</li>
											<li>GameFi ratings</li>
										</ul>
									</div>
								</li>

								<li class="splide__slide">
									<div class="roadmap">
										<h3 class="roadmap__title">2023 Q2</h3>
										<ul class="roadmap__list">
											<li>Creation of a real-time pricing system</li>
											<li>Connecting the updated smart contract</li>
											<li>KYC integration</li>
											<li>Launchpad – Beta</li>
											<li>Public round</li>
										</ul>
									</div>
								</li>

								<li class="splide__slide">
									<div class="roadmap">
										<h3 class="roadmap__title">2023 Q3</h3>
										<ul class="roadmap__list">
											<li>CEX listing</li>
											<li>Staking pools</li>
											<li>MVP guild aggregator</li>
											<li>MVP NFT pawnshop</li>
											<li>Referral program</li>
										</ul>
									</div>
								</li>

								<li class="splide__slide">
									<div class="roadmap">
										<h3 class="roadmap__title">2023 Q4</h3>
										<ul class="roadmap__list">
											<li>Karma holders</li>
											<li>DAO governance launch</li>
											<li>NFT pawnshop launch</li>
											<li>Guild aggregator launch</li>
											<li>Rewards and challenges</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end carousel -->
			</div>
		</div>

		<div id="canvas2" class="section__canvas"></div>
	</section>
	<!-- end roadmap -->

	<!-- resources -->
	<section class="section">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
					<div class="section__title">
						<h2>Download The Resources</h2>
						<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
					</div>
				</div>
				<!-- end section title -->
			</div>
		</div>

		<div class="container">
			<div class="row row--grid">
				<div class="col-12 col-md-6 col-lg-4">
					<div class="resources">
						<span class="resources__icon">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9,10h1a1,1,0,0,0,0-2H9a1,1,0,0,0,0,2Zm0,2a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2ZM20,8.94a1.31,1.31,0,0,0-.06-.27l0-.09a1.07,1.07,0,0,0-.19-.28h0l-6-6h0a1.07,1.07,0,0,0-.28-.19.32.32,0,0,0-.09,0A.88.88,0,0,0,13.05,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V9S20,9,20,8.94ZM14,5.41,16.59,8H15a1,1,0,0,1-1-1ZM18,19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4h5V7a3,3,0,0,0,3,3h3Zm-3-3H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2Z"/></svg>
						</span>
						<h3 class="resources__title">Whitepaper</h3>
						<p class="resources__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
						<a href="/index#" class="resources__link">Download</a>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4">
					<div class="resources resources--green">
						<span class="resources__icon">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,8.94a1.31,1.31,0,0,0-.06-.27l0-.09a1.07,1.07,0,0,0-.19-.28h0l-6-6h0a1.07,1.07,0,0,0-.28-.19l-.09,0A.88.88,0,0,0,13.05,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V9S20,9,20,8.94ZM14,5.41,16.59,8H15a1,1,0,0,1-1-1ZM18,19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4h5V7a3,3,0,0,0,3,3h3Z"/></svg>
						</span>
						<h3 class="resources__title">Litepaper</h3>
						<p class="resources__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
						<a href="/index#" class="resources__link">Download</a>
					</div>
				</div>

				<div class="col-12 col-lg-4">
					<div class="resources resources--light">
						<span class="resources__icon">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16,20H8a3,3,0,0,1-3-3V7A1,1,0,0,0,3,7V17a5,5,0,0,0,5,5h8a1,1,0,0,0,0-2Zm-6-7a1,1,0,0,0,1,1h5a1,1,0,0,0,0-2H11A1,1,0,0,0,10,13ZM21,8.94a1.31,1.31,0,0,0-.06-.27l0-.09a1.07,1.07,0,0,0-.19-.28h0l-6-6h0a1.07,1.07,0,0,0-.28-.19.32.32,0,0,0-.09,0A.88.88,0,0,0,14.05,2H10A3,3,0,0,0,7,5V15a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V9S21,9,21,8.94ZM15,5.41,17.59,8H16a1,1,0,0,1-1-1ZM19,15a1,1,0,0,1-1,1H10a1,1,0,0,1-1-1V5a1,1,0,0,1,1-1h3V7a3,3,0,0,0,.18,1H11a1,1,0,0,0,0,2h8Z"/></svg>
						</span>
						<h3 class="resources__title">Pitch Deck</h3>
						<p class="resources__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
						<a href="/index#" class="resources__link">Download</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end resources -->

	<!-- sponsors -->
	<section class="section section--light">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<div class="section__title section__title--between">
						<h2>Some Of Our <br>Awesome Partners</h2>
						<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'. <br><a href="/contacts">Become a partner.</a></p>
					</div>
				</div>
				<!-- end section title -->

				<!-- sponsors -->
				<div class="col-12">
					<ul class="sponsors">
						<li>
							<a href="/index#">
								<img src="static/img/sponsors/etherscan.svg" alt="">
								<span>Etherscan</span>
							</a>
						</li>
						<li>
							<a href="/index#">
								<img src="static/img/sponsors/opensea.svg" alt="">
								<span>OpenSea</span>
							</a>
						</li>
						<li>
							<a href="/index#">
								<img src="static/img/sponsors/debank.svg" alt="">
								<span>Debank</span>
							</a>
						</li>
						<li>
							<a href="/index#" max-with="40%">
								<img src="static/img/sponsors/rarible.png" alt="">
								<span>Rarible</span>
							</a>
						</li>
						<li>
							<a href="/index#">
								<img src="static/img/sponsors/blur.png" alt="">
								<span>Blur</span>
							</a>
						</li>
						<li>
							<a href="/index#">
								<img src="static/img/sponsors/logo6.svg" alt="">
								<span>thesponsor.com</span>
							</a>
						</li>
						<li>
							<a href="/index#">
								<img src="static/img/sponsors/logo7.svg" alt="">
								<span>thesponsor.com</span>
							</a>
						</li>
						<li>
							<a href="/index#">
								<img src="static/img/sponsors/logo8.svg" alt="">
								<span>thesponsor.com</span>
							</a>
						</li>
						<li>
							<a href="/index#">
								<img src="static/img/sponsors/logo2.svg" alt="">
								<span>thesponsor.com</span>
							</a>
						</li>
						<li>
							<a href="/index#">
								<img src="static/img/sponsors/logo3.svg" alt="">
								<span>thesponsor.com</span>
							</a>
						</li>
						<li>
							<a href="/index#">
								<img src="static/img/sponsors/logo1.svg" alt="">
								<span>thesponsor.com</span>
							</a>
						</li>
						<li>
							<a href="/index#">
								<img src="static/img/sponsors/logo6.svg" alt="">
								<span>thesponsor.com</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- end sponsors -->
			</div>
		</div>
	</section>
	<!-- end sponsors -->

	<!-- faq -->
	<section class="section">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
					<div class="section__title">
						<h2><a href="/faq">Frequently Asked Questions</a></h2>
						<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
					</div>
				</div>
				<!-- end section title -->

				<!-- accordion -->
				<div class="col-12">
					<div class="accordion" id="accordion">
						<div class="row">
							<div class="col-12 col-lg-6">
								<div class="accordion__card">
									<button class="" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
										How we can buy and invest token?
										<span>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
										</span>
									</button>

									<div id="collapse1" class="collapse" data-parent="#accordion">
										<p>It is a long established fact that a reader will be distracted by the readable content of a page <b>when looking at its layout</b>. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
									</div>
								</div>

								<div class="accordion__card">
									<button class="collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
										How secure is this token?
										<span>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
										</span>
									</button>

									<div id="collapse2" class="collapse" data-parent="#accordion">
										<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
									</div>
								</div>

								<div class="accordion__card">
									<button class="collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
										What are long-tail and short-tail assets?
										<span>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
										</span>
									</button>

									<div id="collapse3" class="collapse" data-parent="#accordion">
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
									</div>
								</div>

								<div class="accordion__card">
									<button class="collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
										When the pool is added after 3 days?
										<span>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
										</span>
									</button>

									<div id="collapse4" class="collapse" data-parent="#accordion">
										<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
									</div>
								</div>
							</div>

							<div class="col-12 col-lg-6">
								<div class="accordion__card">
									<button class="collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
										What are the biggest risks to your growth?
										<span>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
										</span>
									</button>

									<div id="collapse5" class="collapse" data-parent="#accordion">
										<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
									</div>
								</div>

								<div class="accordion__card">
									<button class="collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
										What is your contract address?
										<span>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
										</span>
									</button>

									<div id="collapse6" class="collapse" data-parent="#accordion">
										<p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
									</div>
								</div>

								<div class="accordion__card">
									<button class="collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
										What is Aurora?
										<span>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
										</span>
									</button>

									<div id="collapse7" class="collapse" data-parent="#accordion">
										<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
									</div>
								</div>

								<div class="accordion__card">
									<button class="collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
										Where we can buy and sell NFts?
										<span>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"/></svg>
										</span>
									</button>

									<div id="collapse8" class="collapse" data-parent="#accordion">
										<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end accordion -->
			</div>
		</div>
	</section>
	<!-- end faq -->



</body>
</html>
{% endblock %}