{% extends 'base.html' %}
{% block content %}
<body>
	<!-- page head -->
	<div class="section section--pb0 section--first">
		<div class="section__article-head">
			<div class="container">
				<div class="row">
					<!-- breadcrumb -->
					<div class="col-12">
						<ul class="breadcrumb">
							<li class="breadcrumb__item"><a href="index">Home</a></li>
							<li class="breadcrumb__item breadcrumb__item--active">Swap your NFT</li>
						</ul>
					</div>
					<!-- end breadcrumb -->

					<!-- section title -->
					<div class="col-12">
						<div class="section__title section__title--left section__title--page">
							<h1>Swap</h1>
						</div>
					</div>
					<!-- end section title -->
				</div>
			</div>

			<!-- bg animation -->
			<div id="canvas2" class="section__canvas"></div>
			<!-- end bg animation -->
		</div>
	</div>
	<!-- end page head -->
	{% include 'staking.html' %}
</body>

{% endblock %}